.teamDetails-container{
    background-color: #F8F7F5;
}

.teamBadge{
    height: 200px;
    vertical-align: middle;
    line-height: 300px;
}

.gender-pic{
    width: 100%;
}

.team-info{
    margin: 2em;
    padding: 1em;
    background-color: teal;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 35px;
}

.detail-description{
    text-align: justify;
    margin: 1em;
}

.details-container{
    width: 90%;
    background-color: rgb(247, 243, 243);
    padding-top: 1em;
    margin: auto;
    padding-bottom: 30px;
    border-radius: 25px;
}
.social{
    font-size: xx-large;
    text-align: center;
}

.facebook{
    color: #3b5998;
    margin: 10px;
}

.twitter{
    color: #55acee;
    margin: 10px;
}

.youtube{
    color: #e52d27;
    margin: 10px;
}