.team-badge{
    width: 80%;
}

.team-card-container{
    margin:10px auto;
}

.team-card{
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    background-color: #F8F7F5;
    box-shadow:1px 3px 10px gray;
}