.banner {
    background-image: url("../../images/banner.jpg");
    height: 300px;
    width: 100%;
    background-color: teal;
  }
  
  
  .title{
    vertical-align: middle;
    text-align: center;
    line-height: 300px;
  }
  
.team-container{

}

.teams-container{
 width: 90%;
 margin: auto;
}
