.banner {
    background-image: url("../../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    background-color: teal;
  }
  
  .title{
    vertical-align: middle;
    text-align: center;
    line-height: 300px;
    color: white;
    font-size: 4em;
    font-weight: 700;
  }
  
.teams-container{
 width: 90%;
 margin: auto;
 margin-bottom: 20px;
}
