.banner {
    background-image: url("../../images/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    background-color: teal;
    
  }
  
  
  .title{
    vertical-align: middle;
    text-align: center;
    line-height: 300px;
  }
  

.teams-container{
 width: 90%;
 margin: auto;
}
